* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  color: papayawhip;
}

button {
  padding: 18px;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  background-color: steelblue;
  border: 1px solid white;
}
